<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<div class="wrapper">
	<div class="container-login" >
		<h2 class="login">Log in with</h2>

		<a class="log-reg-dir" href="/api/oauth2/school42">
			<img style="width: 100px;"src="/assets/img/site/42.svg.png" >
	  </a>

		<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="standard">
				<input matInput placeholder="Email" formControlName="email">
					<mat-error appearance="standard" *ngIf="loginForm.controls.email.errors">{{getErrorMessageEmail()}}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="standard">
				<input matInput placeholder="Password" formControlName="password"[type]="hide ? 'password' : 'text'">
					<mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</mat-form-field>
			<button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit" id="login-button">Log in</button>
			<h2 class="login">First time?</h2>
			<a routerLink="/public/register" class="log-reg-dir">Register</a>
		</form>
	</div>
</div>
