<nav class="main-menu">
	<ul>
		<li>
			<a routerLink="/private/profile" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text">
					Profile
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/dashboard" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text">
					Chat
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/match" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text">
					Match
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/friend" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text" >
					Friends
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/rules" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text" style="font-size: 15px;">
					Game Rules
				</span>
			</a>
		</li>
	</ul>

	<ul class="logout">
		<li>
			<a routerLink="/private/setting" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text">
						Settings
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/logout" routerLinkActive="active" #rla="routerLinkActive">
				<span class="nav-text" >
					Logout
				</span>
			</a>
		</li>
	</ul>
</nav>
<div id="app"></div>