<div class="wrapper">
	<div class="container">
		<h1 style="color: white; padding: 5px;">The Rules of Pong</h1>
		<mat-divider style="color: rgba(235, 248, 250, 0.849); padding: 5px;"></mat-divider>
		<h4 style="color: white;">Normal Game:</h4>
		<p style="color: rgba(235, 248, 250, 0.849); font-size: 13px; padding: 5px;">Pong is a two-dimensional sports game that simulates table tennis. The player controls an in-game paddle by moving it vertically across the left or right side of the screen. They can compete against another player controlling a second paddle on the opposing side. Players use the paddles to hit a ball back and forth. The goal is for each player to reach five points before the opponent; points are earned when one fails to return the ball to the other.</p>
		<h4 style="color: white; padding: 5px;">Blitz Game:</h4>
		<p style="color: rgba(235, 248, 250, 0.849); font-size: 13px; padding: 5px;">Blitz is an extensive version of Pong. The basic rules are the same. The goal is for each player to reach five points before the opponent; points are earned when one fails to return the ball to the other. However, during the game little powerblocks will appear randomly. If the player hits the powerblock with the pongball the player will receive a power. The <span style="color: red;">red</span> powerblock will decrease the size of the player's opponent's paddle, the <span style="color: green;">green</span> powerblock will increase the player's own paddle. The powers stay for a duration of 5 bounces. </p>
	</div>
</div>